@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400);
@import url(https://fonts.googleapis.com/css?family=Bubbler+One);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
    position: fixed;
	background: rgba(37, 34, 34, 0.53);
    width: 100%;
    height: 50px;
    padding: 11px;
    z-index: 1;
}

h2 {
	font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
    width: 686px;
    font-weight: 700;
    color: #fcb040;
    background-color: rgba(8, 175, 238, 0.31);
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	text-align: center;
	font-weight: 700;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	text-align: center;
	font-weight: 700;
	padding: 20px;
}

h5 {
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	text-align: center;
	font-weight: 700;
	padding: 20px;
}

h6 {
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	text-align: center;
	font-weight: 700;
	padding: 20px;
}

li {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	text-align: center;
	margin: 25px;
	font-weight: 700;
}

hr {
	width: 30%;
	margin: 45px auto;
}

p {
	font-family: 'Bubbler One', sans-serif;
	font-size: 1.7em;
	font-weight: 300;
	line-height: 1.3em;
	padding: 10px;
	width: 85%;
	margin: 0 auto;
	text-align: center;
}

a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	padding: 10px;
	color: black;
}

a img {
	width: 30px;
}

table {
	margin: auto;
}

label {
/*	display: none;*/
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}

input {
	height: 40px;
}

td {
	padding: 30px;
}

td img {
	margin: 10px;
	width: 40%;
}

td h6 {
	padding: 0;
}

section {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 50px;
	clear: both;
}

footer {
	width: 100%;
}

footer td {
	padding: 0;
	color: #fcb042;
}

.navlinks {
	padding: 100px;
	color: #fcb040;
	font-family: 'Architects Daughter', cursive;
}

.fwords {
	color: #d6d0d0;
	margin-bottom: 20px;
	padding: 5px;
	width: 100%;
	font-size: 1.5em;
}

.section_body {
	margin: 0;
}

.body_sections {
	background-color: #eee;
	padding: 1%;
	margin: 1%;
}

.clearfix:after{
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

.italic {
	font-style: italic;
}

.left {
    float: left;
    width: 50%;
    background: rgba(200, 208, 216, 0.67);
    margin: 204px 133px 0 496px;
    margin-right: -372px;
    z-index: 1;
}

.limg {
	margin-left: 10%;
}

.rwds {
    float: right;
    width: 50%;
    background: rgba(200, 208, 216, 0.67);
    margin: 122px 436px 0;
    margin-left: -372px;
    z-index: 1;
}

.footinfo {
	display: inline-block;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.line {
	width: 20px;
	height: 3px;
	background: #FFF;
	margin: 2px 0;
}

.contact {
	text-align: center;
	margin: 0 auto;
}

.contactsection {
    font-size: 20px;
    float: left;
    width: 50%;
    padding: 80px;
}

.contactsection p {
	padding: 0;
}

.blocks {
	width: 32%;
	display: inline-block;
}

.blockswrd1 {
	width: 32%;
	display: inline-block;
	padding-top: 14%;
	vertical-align: top;
}

.blockswrd3 {
	width: 32%;
	display: inline-block;
	padding: 50px 0;
	vertical-align: top;
}

.contact {
    text-align: center;
}

.contactsection h2 {
	margin: 10px auto;
}

.mobile_toggle {
	display: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}

#relationbkgd {
	background: url(../images/relationships.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 668px;
}

#relation {
	background-color: rgba(255, 255, 255, 0.48);
    text-align: right;
    width: 90%;
    padding: 120px 0;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.48) , rgba(255, 255, 255, 0));
    background: -o-linear-gradient(right, #fcb040 , #D5DEDC);
    background: -moz-linear-gradient(right, #fcb040 , #D5DEDC);
    background: linear-gradient(to right, rgb(255, 255, 255) , rgba(255, 255, 255, 0));
}

#relation h2 {
	margin: 50px 100px;
}

#relation p {
	text-align: left;
	margin: 50px 100px;
}

#relation ul li{
	text-align: left;
    margin: 25px 171px;

}

#footer_section {
	background-color: rgba(37, 34, 34, 0.53);
	text-align: center;
	padding: 10px;
	width: 100%;
}

#center {
	text-align: center;
}

#logo {
	margin: -36% 0 5% 10%;
	z-index: 1;
}

#smlrimg {
	width: 36%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
    z-index: -1;
}

#difference {
	padding-top: 30px;
}

#about {
	padding-top: 30px;
}

#contact {
	padding-top: 30px;
	width: 100%;
}

#buildimg {
	width: 100%;
}

#toggle {
	display: none;
}

#buildbl {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.banner-container {
	width: 100%;

}
.banner-slider {
	width: 100%;
}

.slidecontent img {
	width: 100%;
}
#slide1 {
	background: url("../images/girls_hugging.jpg");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
#slide2 {
	background: url("../images/paddleboard_jump.jpg");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
#slide3 {
	background: url("../images/paddleboard_group.jpg");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
#slide4 {
	background: url("../images/paddleboard_kids.jpg");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

#smltext {
	font-size: .9em;
}

#bwdbt {
	margin: 40px;
}

#bwdtp {
	margin: 28px;
}

#block1 {
	display: inline-block;
	float: left;
    width: 33%;
    height: 400px;
/*    background: rgba(252, 176, 64, 0.66);*/
 	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #fcb040 , #D5DEDC); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #fcb040 , #D5DEDC); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #fcb040 , #D5DEDC); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(to right, #fcb040 , #D5DEDC); /* Standard syntax */
}

#block2 {
	display: inline-block;
	float: left;
/*    background: #00aeef;*/
    width: 33%;
    height: 400px;
    background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #D5DEDC , #cfd5d4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #D5DEDC , #cfd5d4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #D5DEDC , #cfd5d4); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #D5DEDC , #cfd5d4); /* Standard syntax */
}

#block3 {
	display: inline-block;
    height: 400px;
    width: 33%;
/*    background: rgba(246, 42, 53, 0.63);*/
    background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #cfd5d4 , #00aeef); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #cfd5d4 , #00aeef); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #cfd5d4 , #00aeef); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #cfd5d4 , #00aeef); /* Standard syntax */
}

#footer_copyright {
	margin: 15px;
}

#acwords {
	font-size: 1em;
}

#footerinfo {
	font-size: 8px;
	display: inline-block;
}

#aclogo {
	width: 30px;
}

@media only screen and (max-width: 2300px) {
	body {
		font-size: 12px;
	}
	#relation {
		font-size: 15px;
	}
}

@media only screen and (max-width: 1800px) {
	footer {
		font-size: 18px;
	}
	.blockswrd3 {
		padding: 0;
	}
	.rwds {
		margin-top: 40px;
	}
	#relation {
		font-size: 12px;
	}
}

@media only screen and (max-width: 1650px) {
	.fwords {
		font-size: 1.3em;
	}
	.contactsection {
		font-size: 15px;
	}
	#relation p {
		margin: 50px 50px;
	}
	#relation h2 {
		margin-top: 50px 20px;
	}
	#relation ul li {
		margin: 25px 80px;
	}
}

@media only screen and (max-width: 1500px) {
	body {
		font-size: 10px;
	}
	.navlinks {
		padding: 50px;
	}
	.left {
		margin-top: 90px;
		width: 68%;
		margin-left: 269px;
		margin-bottom: 5px;
	}
	.rwds {
		width: 70%;
		margin-right: 137px;
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 1300px)	{
	p {
		width: 100%;
	}
	.fwords {
		font-size: 1em;
	}
	.contact {
		text-align: center;
  		float: right;
  	  	display: inline-block;
  	  	width: 50%;
	}
}

@media only screen and (max-width: 1200px)	{
	.blocks {
		width: 60%;
	}
	.blockswrd1 {
		width: 65%;
		display: block;
		padding-top: 0;
		margin: auto;
	}
	.contactsection {
		font-size: 12px;
	}
}

@media only screen and (max-width: 1100px)	{
	.navlinks {
		padding: 25px;
	}
	#buildbl {
		margin-top: 50px;
	}
}

@media only screen and (max-width: 900px)	{
	label {
		display: block;
		float:right;
		padding: 15px;
	}
	nav{
		display: none;
		position: static;
		clear:both;
		background-image: none;
	}
	.fwords {
		margin-left: 0%;
	    margin: 0 auto;
	    width: auto;
	    text-align: center;
	}
	.blocks {
		width: 100%;
	}
	.blockswrd3 {
	    display: block;
	    width: 65%;
	    margin: auto;
} 
	.mobile_toggle {
		display: block;
	}
	#toggle:checked + .container nav {	
		display: block;
	}
	#buildbl {
		width: 50%;
		margin-left: 24%;
	}
}

@media only screen and (max-width: 450px)	{
	.fwords {
		font-size: .8em;
	}
}