@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400);
@import url(https://fonts.googleapis.com/css?family=Bubbler+One);


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	text-align: center;
	margin: 50px;
	font-weight: 700;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	text-align: center;
	font-weight: 700;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	text-align: center;
	font-weight: 700;
}

h6 {
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	text-align: center;
	font-weight: 700;
}

li {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	text-align: center;
	margin: 25px;
	font-weight: 700;
}

p {
	font-family: 'Bubbler One', sans-serif;
	font-size: 1.7em;
	font-weight: 300;
	line-height: 1.3em;
	padding: 10px;
	width: 85%;
	margin: 0 auto;
	text-align: center;
}

a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	padding: 10px;
	color: black;
}

table {
	margin: auto;
}

label {
/*	display: none;*/
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}

input {
	height: 40px;
}

td {
	padding: 20px;
}

section {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 50px;
	clear: both;
}

footer {
	width: 100%;
}

.navlinks {
	padding: 100px;
}

.fwords {
	color: #d6d0d0;
	padding: 5px;
	width: 100%;
	font-size: 1.5em;
}

.section_body {
	margin: 6%;
}

.body_sections {
	background-color: #eee;
	padding: 1%;
	margin: 1%;
}

.italic {
	font-style: italic;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	margin-top: 20%;
}

.line {
	width: 20px;
	height: 3px;
	background: #FFF;
	margin: 2px 0;
}

.contact {
	text-align: center;
	margin: 0 auto;
}

.mobile_toggle {
	display: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}

#footer_section {
	background-color: #026780;
	text-align: center;
	padding: 10px;
	width: 100%;
}

#logo {
    margin-top: -1059px;
    margin-bottom: 430px;
}

#toggle {
	display: none;
}

#slide1 {
	background-image: url("../images/pexels-photo-11523.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 1100px;
}

#slide2 {
	background-image: url("../images/kids-doing-homework.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#slide3 {
	background-image: url("../images/iStock_000039124658_Small.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#smltext {
	font-size: .9em;
}

#footer_copyright {
	margin: 15px;
}

#acwords {
	font-size: 1em;
}

#aclogo {
	width: 30px;
}

@media only screen and (max-width: 1650px) {
	.fwords {
		font-size: 1.3em;
	}
}

@media only screen and (max-width: 1300px)	{
	.fwords {
		font-size: 1em;
	}
}

@media only screen and (max-width: 900px)	{
	label {
		display: block;
		float:right;
		padding: 15px;
	}
	nav{
		display: none;
		position: static;
		clear:both;
		background-image: none;
	}
	.fwords {
		margin-left: 0%;
	    margin: 0 auto;
	    width: auto;
	    text-align: center;
	} 
	.mobile_toggle {
		display: block;
	}
	#toggle:checked + .container nav {	
		display: block;
	}
}

@media only screen and (max-width: 450px)	{
	.fwords {
		font-size: .8em;
	}
}